# Environnement
.env
.env.local
*.env

# Backend Java
backend/target/
backend/.classpath
backend/.project
backend/.settings/
backend/.idea/
backend/*.iml

# Frontend Angular
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/coverage/

# IDE & OS
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Build artifacts
*.jar
!backend/mvnw
